* {
    box-sizing: border-box;
}

html {
    font-family: "Mulish", sans-serif;
    color: var(--gray3);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    font-family: inherit;
    cursor: pointer;

    * {
        pointer-events: none;
    }
}

input:not([type="checkbox"]), select {
    font-family: inherit;
    text-align: inherit;
    padding: 0.3rem 0.5rem;
    outline: 1px solid var(--gray2);
    border: 1px solid transparent;
    border-radius: 3px;
}

input:focus, select:focus {
    border: 1px solid var(--primary);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* MAC like scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
    -webkit-border-radius: 100px;
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-container main {
    flex-grow: 1;
    width: 100%;
}

a.active {
    color: var(--active);
    font-weight: 800;
}

.btn, .link-btn {
    border: none;
    border-radius: 3px;
    background-color: var(--primary);
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    margin-inline-end: 1rem;
    transition: all 0.3s ease;
}

.btn:hover, .link-btn:hover {
    background-color: var(--secondary);
}